<link rel="stylesheet" href="css/_header.css">
<header>
    <div class="navbar">
        <div class="navbar-container">
          <div class="nav-item">HOME PAGE</div>
        </div>
    </div>
</header>